src/main/resources/stress-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  stress-message.xsd
  ~~~~~~~~~~~~~~~~~~
  XML Schema for the Artemis Stress Tool message format.
  Namespace : urn:stress:v1
  Version   : 1.1  (adds mandatory <NumericId> in Header)

  Every document produced by the stress tool must validate against this schema.
  The <NumericId> element carries a globally unique, strictly increasing long
  integer that is generated by MessageIdGenerator before each send.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:stress:v1"
           xmlns:tns="urn:stress:v1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.1">

  <!-- ═══════════════════════════════════════════════════════════════════════
       Root element
       ═══════════════════════════════════════════════════════════════════════ -->
  <xs:element name="StressMessage" type="tns:StressMessageType"/>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Top-level message type
       ═══════════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="StressMessageType">
    <xs:sequence>
      <xs:element name="Header"  type="tns:HeaderType"/>
      <xs:element name="Body"    type="tns:BodyType"/>
      <xs:element name="Padding" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Header — contains the unique numeric ID
       ═══════════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <!--
        NumericId: strictly positive long integer, unique across all messages
        in a test run. Generated by MessageIdGenerator (AtomicLong counter).
        This field is MANDATORY and MUST be a positive integer.
      -->
      <xs:element name="NumericId"   type="tns:PositiveLongType"/>

      <!-- UUID string for correlation / deduplication at the broker level -->
      <xs:element name="MessageId"   type="tns:UuidType"/>

      <!-- Global sequence aligned with NumericId (same value in generated mode) -->
      <xs:element name="Sequence"    type="xs:positiveInteger"/>

      <!-- Originating producer thread -->
      <xs:element name="ProducerId"  type="xs:nonNegativeInteger"/>

      <!-- ISO-8601 send timestamp -->
      <xs:element name="Timestamp"   type="xs:dateTime"/>

      <!-- Schema/format version -->
      <xs:element name="Version"     type="tns:VersionType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Body
       ═══════════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="Order" type="tns:OrderType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Order
       ═══════════════════════════════════════════════════════════════════════ -->
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="OrderId"    type="tns:OrderIdType"/>
      <xs:element name="Status"     type="tns:OrderStatusType"/>
      <xs:element name="Customer"   type="tns:CustomerType"/>
      <xs:element name="Items"      type="tns:ItemsType"/>
      <xs:element name="Total"      type="tns:MoneyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="Id"    type="xs:string"/>
      <xs:element name="Name"  type="xs:string"/>
      <xs:element name="Email" type="tns:EmailType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="Item" type="tns:ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="SKU"       type="xs:string"/>
      <xs:element name="Quantity"  type="xs:positiveInteger"/>
      <xs:element name="UnitPrice" type="tns:MoneyType"/>
      <xs:element name="Total"     type="tns:MoneyType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Simple / restricted types
       ═══════════════════════════════════════════════════════════════════════ -->

  <!-- Strictly positive long integer for NumericId -->
  <xs:simpleType name="PositiveLongType">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- UUID in standard 8-4-4-4-12 hex format -->
  <xs:simpleType name="UuidType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Version string: major.minor -->
  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+\.\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Order identifier: ORD-NNNNNNNN -->
  <xs:simpleType name="OrderIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="ORD-[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Allowed order statuses -->
  <xs:simpleType name="OrderStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="CONFIRMED"/>
      <xs:enumeration value="PROCESSING"/>
      <xs:enumeration value="SHIPPED"/>
      <xs:enumeration value="DELIVERED"/>
      <xs:enumeration value="CANCELLED"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Monetary value: non-negative decimal with up to 2 fraction digits -->
  <xs:simpleType name="MoneyType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.00"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Very basic e-mail pattern (intentionally loose for stress data) -->
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
